<div class="form">
  <form class="form-content">
    <mat-form-field>
      <mat-label for="password" floatLabel="never">hasło</mat-label>
      <input matInput id="password" type="password" placeholder="placeholder" requiered [(ngModel)]="user.password"
        #email="ngModel" name="password">
      <mat-icon matSuffix>close</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <label for="email">login/e-mail</label>
      <input matInput id="email" type="email" requiered [(ngModel)]="user.email" #password="ngModel" name="email">
      <mat-icon matSuffix>close</mat-icon>
      <mat-hint align="end"><a href="/resetPassword">Zresetuj hasło</a></mat-hint>
    </mat-form-field>
    <div class="notification">{{message}}</div>
    <!-- TODO it doesn't work --> 
    <div *ngIf="email.dirty || email.touched" class="alert">
      <div *ngIf="email.errors?.['requiered']">Email is requiered</div>
    </div>
    <button mat-flat-button type="submit" color="primary" (click)="login()">Login</button>
  </form>
</div>
