.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  padding-top: 100px;
  margin: 0px auto;
}

.info {
  display: none;
  position: relative;
  left: 30px;
}

.password-strength-container {
  width: 120px;
  margin-bottom: 20px;
}

.submit-button {
  margin-top: 20px;
}

.feedback {
  margin-top: 20px;
}

.check-button {
  display: none;
}

.ng-valid .check-button {
  display: block;
}

.mat-focused.ng-invalid .info {
  display: block; 
}
