<div class="form">
  <form class="form-content" #registerForm="ngForm" (ngSubmit)="register(registerForm)"
    [appMatchFields]="['password', 'repPassword']">
    <mat-form-field>
      <mat-label for="email">login/e-mail</mat-label>
      <input matInput id="email" type="email" required [(ngModel)]="user.email" name="email" email
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
      <mat-icon class="check" matSuffix color="primary">check</mat-icon>
      <mat-icon class="info" matSuffix matTooltip="Adres email, który będzie jednocześnie loginem."
        matTooltipPosition="right">error_outline</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="password">hasło</mat-label>
      <input matInput id="password" type="password" required
        pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,}" [(ngModel)]="user.password" name="password" #password>
      <mat-icon class="check" matSuffix color="primary">check</mat-icon>
      <mat-icon class="info" matSuffix
        matTooltip="Hasło powinno zawierać przynajmniej 8 znaków, w tym przynajmniej jedną małą literę, jedną wielką literę i jedną cyfrę."
        matTooltipPosition="right">error_outline</mat-icon>
    </mat-form-field>
    <div class="password-strength-container">
      <mat-password-strength [password]="password.value">
      </mat-password-strength>
    </div>
    <mat-form-field>
      <mat-label for="password">powtórz hasło</mat-label>
      <input matInput id="rep-password" type="password" required [(ngModel)]="repPassword"
        name="repPassword">
      <mat-icon class="check" matSuffix color="primary">check</mat-icon>
      <mat-icon class="info" matSuffix matTooltip="Wprowadzone hasła muszą być identyczne."
        matTooltipPosition="right">error_outline</mat-icon>
    </mat-form-field>
    <div class="feedback">{{message}}</div>
    <button class="submit-button" mat-flat-button type="submit" color="primary" [disabled]="registerForm.invalid">
      Załóż Konto
    </button>
  </form>
</div>
