.form-content {
  align-items: flex-start;
}

.pop-info {
  display: none;
  position: relative;
  left: 30px;
}

.password-strength-container {
  width: 100px;
  margin-bottom: 20px;
}

.submit-button {
  margin-top: 20px;
  align-self: center;
}

.check {
  display: none;
}

.ng-valid .check {
  display: block;
}

.mat-focused.ng-invalid .pop-info {
  display: block; 
}
