<div class="container">
  <form class="form-content" #resetForm="ngForm" *ngIf="!submitted" (ngSubmit)="onSubmit()">
  <div class="mat-title">Zresetuj hasło</div>
    <mat-form-field>
      <mat-label>login/email</mat-label>
      <input matInput id="email" type="email" required [(ngModel)]="email" name="email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
      <mat-icon class="info" matSuffix
        matTooltip="Adres na który wyślemy link umozliwiający resetowanie hasła."
        matTooltipPosition="right">help_outline</mat-icon>
    </mat-form-field>
    <div class="feedback">{{message}}</div> 
    <button mat-flat-button class="submit-button" type="submit" color="primary" [disabled]="resetForm.invalid">Wyślij email</button>
  </form>
  <div class="confirmation-message" *ngIf="submitted">Na podany adres email został wysłany link do resetowania hasła!</div>
</div>
