.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin: 50px auto;
}

.submit-button {
  margin-top: 15px;
}

.confirmation-message {
  text-align: center;
  margin-top: 50px;
}

.info {
  position: relative;
  left: 30px;
}
