<div class="container">
  <div class="mat-title">Zresetuj hasło</div>
  <form class="form-content" #resetForm="ngForm" (ngSubmit)="submitted = true">
    <mat-form-field>
      <mat-label>login/email</mat-label>
      <input matInput id="email" type="email" required [(ngModel)]="email" name="email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
      <mat-icon class="info" matSuffix matTooltip="Adres na który wyślemy link umozliwiający resetowanie hasła."
        matTooltipPosition="right">help_outline</mat-icon>
    </mat-form-field>
    <button mat-flat-button class="submit-button" type="button" color="primary" [disabled]="resetForm.invalid">Wyślij
      email</button>
  </form>
  <div class="notification" *ngIf="submitted">Na podany adres email został wysłany link do resetowania hasła!</div>
</div>
